#cabecera{
    background-color: #EC407A;
}

.color-fondo{
    background-color:black;
}

footer h1{
    font-family: 'Oswald',sans-serif;
}

.cont{
    margin-left: 350px;
}
.fab{
    font-size: 80px;
    margin-right: 20px;
    color: #ffffff;
}

